/* Navbar стили */
.navbar {
    background-color: #f3d1d1;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для Navbar */
}

/* Название игры */
.navbar__title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333333;
    letter-spacing: 1px;
}

/* Стили для меню */
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0 2rem;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

/* Стили для ссылок и кнопок */
.navbar a, .navbar button {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

/* Эффект при наведении */
.navbar a:hover, .navbar button:hover {
    background-color: #444;
}

/* Информация о пользователе */
.navbar__user-info {
    display: flex;
    gap: 15px;
    font-size: 1rem;
    color: #333333;
    align-items: center;
}

.navbar__user-info span {
    font-weight: bold;
}

/* Кнопка Выйти */
.navbar button {
    background-color: #c20d00; /* Красный цвет для кнопки Выйти */
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.navbar button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

/* Добавление отступов для навигации */
.navbar a {
    padding: 10px 20px;
    font-size: 1.2rem;
}
